<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		
	</title>
	<script type="text/javascript" src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<!-- <div ng-app="appx" ng-controller="cx">
	<input type="" ng-model="cc">
	{{cc}}
	<span ng-bind="cc"></span>
</div>
<script type="text/javascript">
	var appx = angular.module('appx',[]);
	appx.controller('cx',function($scope){
		$scope.cc = 'body';
	})
</script> -->
<div ng-app="" ng-init="sex=['男','女']">
<ul>
	<li ng-repeat="x in sex">
		{{x}}
	</li>
</ul>
</div>
</body>
</html>